---
import Layout from '../layouts/Layout.astro';
import BankSection from '../components/BankSection.astro';
import banksData from '../datasets/banksData.json';

const { banks } = banksData;
---

<Layout title="Banks in India">
	<section>
	<h1># Banks in India</h1>
	<p>Sites & icons, and more for all active banks in India</p>
	<p><code>npm i -D banks-in-india</code></p>
	<p><a href="https://methodblack.gumroad.com/l/banks-in-india" target="_blank">Figma icon library ↗</a></p>
	</section>
	{banks.map((section) => (
	  <BankSection 
		title={section.title} 
		category={section.category} 
		content={section.content} 
	  />
	))}
  </Layout>


<section>
	<p># Miscellaneous</p>
	<ul>
		<li><a href="https://www.rbi.org.in/scripts/banklinks.aspx" target="_blank">RBI Listing ↗</a></li>
		<li><a href="https://rbidocs.rbi.org.in/rdocs/content/docs/68774.xlsx" target="_blank">NEFT IFSCs from RBI ↗</a></li>
		<li><a href="https://rbidocs.rbi.org.in/rdocs/RTGS/DOCs/RTGEB0815.xlsx" target="_blank">RTGS IFSCs from RBI ↗</a></li>
		<li><a href="https://www.rbi.org.in/commonman/english/scripts/banksinindia.aspx" target="_blank">List of Banks in India ↗</a></li>
		<li><a href="https://www.npci.org.in/what-we-do/nach/live-members/live-banks" target="_blank">Banks Live on NACH ↗</a></li>
		<li><a href="https://www.npci.org.in/what-we-do/imps/live-members" target="_blank">Banks Live on IMPS ↗</a></li>
		<li><a href="https://www.npci.org.in/what-we-do/autopay/list-of-banks-and-apps-live-on-autopay" target="_blank">Banks Live on AutoPay ↗</a></li>
		<li><a href="https://www.npci.org.in/what-we-do/rupay/live-members" target="_blank">RuPay Live Members ↗</a></li>
		<li><a href="https://www.npci.org.in/PDF/npci/ifsc-and-micr-codes/Merged-banks-IFSC-and-MICR.xlsx" target="_blank">Merged banks IFSC and MICR Codes ↗</a></li>
		<li><a href="https://www.npci.org.in/what-we-do/nach/live-members/blocked-banks" target="_blank">Blocked Banks on NACH ↗</a></li>
	</ul>
</section>


<p>By: <a href="https://planetabhi.com/" target="_blank">@planetabhi</a> (^０^)ノ</p>
<p><a href="https://www.jsdelivr.com/package/npm/banks-in-india"><img src="https://data.jsdelivr.com/v1/package/npm/banks-in-india/badge" style="height: 22px; width: auto" /></a></p>

<style>
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
